body{
    height: 100vh;

    background-color: #FFF6E9;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.alianca{
    width: 48px;
}

.pedido{
    padding-top: 10px;
    padding-bottom: 10px;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 10px;

    justify-content: center;
}

.botao{
    font-size: 12px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #70c9df;
    color: black;
    border-radius: 4px;
}

.aceite{
    text-decoration: none;
    color: currentColor;

    position:absolute;
    margin-right: 160px;
    
}

.botao_sim{
    position: absolute;
    margin-right: 100px;
}

#noButton {
    position: absolute;
    margin-left: 90px;
    transition: 0.5s;
}

